<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Play cards</title>
        <style>
        span{
        font-size: 2em;
        background-color:green;
        }
.heart{
color:red;
}
.diamond{
color:red;
}

        </style>
    </head>
    <body>
        <div id="cards">
                {% for card in distribution %}


                {{ card.value }}


                {% endfor %}

                
        	<span class=spade>10&#x2660</span>
          <span class=club>K&#x2663</span>
          <span class=heart>Q&#x2665</span>
          <span class=diamond>1&#x2666</span>

        </div>


    </body>
</html>
